<div class="col-xs-12">
  <div class="card">
    <div class="header">UserMonthDetails</div>
    <div class="body">
      <%= form_tag(month_info_path method: :post) do %>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3">
                <p>
                  Date
                  <%= text_field_tag 'date', nil, :id => 'daily_detail_date' %>
                </p>
              </div>

              <div class="col-sm-3">
                <p>
                  Users
                  <%= select_tag 'user_id', options_for_select(@users.collect {|u| [u.name, u.id]}) %>
                </p>
              </div>
              <div class="col-sm-3">
                <p>
                  <%= submit_tag("Submit", class: "btn btn-primary waves-effect") %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#daily_detail_date").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>