<div class="col-xs-12">
  <div class="card">
    <div class="header">Expense Register</div>
    <div class="body">
      <div class="row">
        <!--Daily Invoices starts-->
        <%= form_for @daily_invoice do |f| %>
            <% render partial: 'form', locals: {f: f} %>
        <% end %>
        <!--Daily Invoices ends-->
      </div>
    </div>
  </div>
</div>
</div>
