<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-success">
  <div class="panel-heading">Expense Register</div>
  <div class="panel-body">
    <div class="row">
      <!--Daily Invoices starts-->
      <%= form_for @daily_invoice do |f| %>
          <% render partial: 'form', locals: {f: f} %>
      <% end %>
      <!--Daily Invoices ends-->
    </div>
  </div>
</div>
</div>
</div>
