<div class="col-xs-12">
  <div class="card">
    <div class="header">
      <h3>Importing a File</h3>
    </div>
    <div class="body">
      <% if @response == "success" %>
          <div class="alert alert-success">
            <%= @response %> <%= link_to "Ok", invoices_path, method: :get, style:'float: right;' %>
          </div>
      <% else %>
          <div class="alert alert-danger">
            <%= @response %><%= link_to "Back", expenses_path, method: :get, style:'float: right;' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

